body {
    margin: 0px;
    width:fit-content;
    height:fit-content;
    padding: 20px;
    font-family: "Times New Roman";
    background-image: url("https://i.pinimg.com/564x/d9/52/e9/d952e923fb982e8311989359c4e7f9c0.jpg");
}

canvas{
    box-shadow: -1px 2px 9px 6px lightseagreen;
    cursor: pointer;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
}

.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}
.tools .color{
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    cursor:pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin: 0 10px;
}
.tools .button {
    border: 2px solid black;
    cursor: pointer;
    margin: 0 10px;
}
.banner {
    background-color: lightseagreen;
    align-items: center;
}
table.players, table.chat {
    border: 3px solid lightseagreen; 
    background-color: darkslateblue;
    height: 550px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table.settings {
    border: 3px solid lightseagreen;
    background-color: darkslateblue;
    height: 550px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.right {
    width: 200px;
    float: right;
    text-align: left;
}
textarea {
    height: 200px;
    width: 400px;
    float: right;
}
label {
    text-decoration-line: underline;
}
button.start {
    height: 75px;
    width: 800px;
    background-color: lime;
    font-size: large;
}
.mainchat, .mainplayers{
    border: 3px solid purple; 
    background-color: white;
    height: 550px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.chatlog {
    background-color: white;
    border: 2px;
    border-color: blueviolet;
    overflow-y: scroll;
}
.greyline {
    background-color: lightgrey;
}
.whiteline {
    background-color: white;
}
.timer {
    background-color: lightseagreen;
    height: 20px;
    width: 20px;
}
